*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(137, 189, 137);
    height: 100%;
    width: 100%;
}
#panel{
    overflow: hidden;
    height: 80%;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
}
#panel-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0px 20%;
    background-color: rgb(70, 112, 70);
    color: #fff;
}
.elem{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: #fff;
    color: rgb(70, 112, 70);
    font-weight: bold;
}
#panel-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: calc(100% - 50px);
    padding: 20px 5%;
    overflow: hidden;

}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(70, 112, 70);
    color: #fff;
}
.bubble:hover{
    cursor: pointer;
    background-color: rgb(47, 78, 47);
}